* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.nav_dash {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav_dash nav {
    text-align: center;
}

section {
    flex: 1;
}

.col-12.col-md-3.border {
    display: flex;
    flex-direction: column;
}

.modulo {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.titulo_dash {
    margin-top: 10px;
    margin-left: 10px;
}

.ingreso {
    overflow: hidden;
}


/* Celular*/
@media (max-width: 576px) {
    .nav_dash nav {
        height: auto;
        padding: 8px;
    }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {
    .nav_dash nav {
        height: auto;
        padding: 10px;
    }
}

/* Escritorio */
@media (min-width: 993px) {
    .nav_dash nav {
        height: 45px;
    }
}
