* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav, footer, .titulo {
    height: 70px;
    text-align: center;
}

.nav-bottom {
    height: 50px;
}

header, section {
    height: 450px;
}

.fila {
    height: 150px;
}

.row {
    --bs-gutter-x: 0;
}

.mapa {
    height: 380px;
}

.direccion {
    height: 195px;
}

.maps {
    width: 100%;
    height: 100%;
}

.contact-form {
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
}

.contact-form button:hover {
    background-color: #0056b3;
}

textarea {
    resize: none;
}

.direct {
    text-align: center;
    padding-top: 10px;
}

.nav_dash nav {
    height: 45px;
    text-align: center;
}

.titulo_dash {
    margin-top: 10px;
    margin-left: 10px;
}

/* Tablet */
@media (max-width: 991px) {
    header, section {
        height: 450px;
    }

    .fila {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        
    }

    .fila > div {
        flex: 1 1 50%;
        padding: 10px;
    }

    .mapa {
        height: 300px;
    }
}

/* Celular */
@media (max-width: 767px) {
    nav, footer, .titulo {
        height: auto;
        padding: 10px 0;
    }

    header, section {
        height: 450px;
    }

    .fila {
        flex-direction: column;
    }

    .fila > div {
        flex: 1 1 100%;
        padding: 10px;
    }

    .mapa {
        height: 250px;
    }

    .direccion {
        height: auto;
        padding: 10px;
    }
}
